@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-33.3333%); }
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-black dark:text-white transition-colors duration-300;
  }
}


*{
  user-select: none;
}
